# Ignore audio datasets
ml_models/noise_removal/data/clean/
ml_models/noise_removal/data/noisy/
ml_models/noise_removal/data/mixed/



# Python
__pycache__/
*.py[cod]
venv/
*.env

# Flutter/Dart
.dart_tool/
.packages
build/
.fvm/

# Jupyter
.ipynb_checkpoints/

# Datasets (large files)
*.wav
*.mp3
*.opus